<section class="news">
    <div class="container">
        <h2>TIN TỨC</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6" *ngFor="let news of listNews;">
                <div class="news-item">
                    <img src="{{'../assets/news/' + news.image}}" alt="" class="w-100">
                    <h5><a routerLink="/post/{{news.slug}}">{{news.name}}</a></h5>
                    <p>
                        {{news.summary}}
                    </p>
                </div>
            </div>

        </div>
        <div class="pagination">
            <!-- @Html.PagedListPager(Model, page => Url.Action("News", new { page })) -->
        </div>
    </div>
</section>