<section class="news">
    <div class="container">
        <h2>TIN TỨC</h2>
        <div class="row">
            <!-- @foreach (var n in Model)
            {
                <div class="col-md-4 col-sm-6">
                    <div class="news-item">
                        <img src="~/Public/Admin/Pictures/news/@n.Image" alt="" class="w-100">
                        <h5><a href="@Url.Action("Posts", "Home", new {n.Slug})">@n.Name</a></h5>
                        <p>
                            @n.Summary
                        </p>
                    </div>
                </div>
            } -->

        </div>
        <div class="pagination">
            <!-- @Html.PagedListPager(Model, page => Url.Action("News", new { page })) -->
        </div>
    </div>
</section>