<!-- Banner -->
<section class="banner-product">
    <div class="container">
        <h2>SẢN PHẨM</h2>
    </div>
</section>

<!-- Nav Product -->
<div class="container">
    <div class="nav">
        <ul>
            <li>
                <a [routerLink]="['/']">Trang chủ</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a [routerLink]="['/product']">Sản phẩm</a></li>

        </ul>
    </div>

    <h3 class="h3-title">Sản phẩm</h3>
</div>

<!-- List Product -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <p style="margin: 8px 0; color: rgb(185, 185, 185);">Bộ lọc sản phẩm</p>

                <div class="category-product">
                    <h4>Loại sản phẩm</h4>
                    <form action="" class="form-cate-product">
                        <div style="margin-top:10px" *ngFor="let cate of listCategory; let i = index">
                            <input type="checkbox" name="something" style="margin-right:10px" [(ngModel)]="cate.checked" (change)="cateChange(cate.id)">
                            <a>{{cate.name}}</a>
                        </div>
                    </form>
                </div>

                <div class="product-search-price">
                    <h4>Giá Thành</h4>
                    <div id="slider-range" class="w-75" style="margin-top: 12px;"></div>
                    <p>
                        <input type="text" id="amount" readonly style="border:0; margin-top: 8px;">
                    </p>
                    
                    <mat-slider min="0" step="50000" max="1000000" discrete="true" 
                        color="accent" showTickMarks="true">
                        <input matSliderStartThumb [(ngModel)]="startRange" (change)="changeRange()">
                        <input matSliderEndThumb [(ngModel)]="endRange" (change)="changeRange()">
                    </mat-slider>

                </div>

                <div class="trademark">
                    <h4>Thương Hiệu</h4>
                    <form action="" class="form-cate-product">
                        <div>
                            <input type="checkbox" id="" name="" value="">
                            <label for="">Trà Tân Cương Xanh</label>
                        </div>
                        <div>
                            <input type="checkbox" id="" name="" value="">
                            <label for="">Trà Sen Tây Hồ</label>
                        </div>
                        <div>
                            <input type="checkbox" id="" name="" value="">
                            <label for="">Trà Lộc Tân</label>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-9 col-sm-6" style="margin-top: 40px;" id="mainList">
                <div class="d-flex justify-content-end" style="margin-bottom: 40px;" id="sortProduct">
                    <div class="sort-product" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          <select #selectList (change)="mySelectHandler(selectList.value)">
                            <option *ngFor="let vendor of vendors" value="{{ vendor.sortCode }}">{{ vendor.name }} </option>
                          </select>
                          
                    </div>
                </div>

                <div class="row" id="lstProduct">
                    <div class="col-md-4 col-sm-6" *ngFor="let product of listProduct;">
                        <div class="product-item">
                            <div class="product-rate d-flex">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p>{{product.star}}</p>
                            </div>
                            <div class="new-product">
                                <p>NEW</p>
                            </div>
                            <img src="{{'../assets/products/' + product.productImg}}" alt="" class="w-100" style="height: 200px">
                            <h5>
                                <a href="/product-detail/{{product.slug}}">
                                    {{product.productName}}
                                </a>
                            </h5>
                            <div class="d-flex justify-content-center">
                                <p class="product-price">{{product.productPrice | number }}<small> VND</small><span>/100gr</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pagination">
                    <!-- @Html.PagedListPager(Model, page => Url.Action("Product", new { page = page, sortOrder = @ViewBag.sortOrder, typeSort = @ViewBag.typeSort })) -->
                </div>
                <div id="totalPage"></div>
            </div>
        </div>
    </div>
    
    <pagination
        [currentPage]="currentPage"
        [pageSize]="pageSize"
        [totalItem]="totalProduct"
        (changePage)="changePage($event)"
    ></pagination>
</section>