<!-- Banner -->
<section class="banner-product">
    <div class="container">
        <h2>SẢN PHẨM</h2>
    </div>
</section>

<!-- Nav Product -->
<div class="container">
    <div class="nav">
        <ul>
            <li>
                <a [routerLink]="['/']">Trang chủ</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a [routerLink]="['/product']">Sản phẩm</a></li>

        </ul>
    </div>

    <h3 class="h3-title">Sản phẩm</h3>
</div>

<!-- List Product -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <p style="margin: 8px 0; color: rgb(185, 185, 185);">Bộ lọc sản phẩm</p>

                <div class="category-product">
                    <h4>Loại sản phẩm</h4>
                    <form action="" class="form-cate-product">
                        <!-- @foreach (var c in ViewBag.listCate)
                        {
                            <div style="margin-top:10px">
                                <input type="checkbox" id="" name="" value="">
                                <a href="@Url.Action("ProductsByCategory", "Home", new {slug = c.Slug})" for="">@c.Name</a>
                            </div>
                        } -->
                    </form>
                </div>

                <div class="product-search-price">
                    <h4>Giá Thành</h4>
                    <div id="slider-range" class="w-75" style="margin-top: 12px;"></div>
                    <p>
                        <input type="text" id="amount" readonly style="border:0; margin-top: 8px;">
                    </p>


                </div>

                <div class="trademark">
                    <h4>Thương Hiệu</h4>
                    <form action="" class="form-cate-product">
                        <div>
                            <input type="checkbox" id="" name="" value="">
                            <label for="">Trà Tân Cương Xanh</label>
                        </div>
                        <div>
                            <input type="checkbox" id="" name="" value="">
                            <label for="">Trà Sen Tây Hồ</label>
                        </div>
                        <div>
                            <input type="checkbox" id="" name="" value="">
                            <label for="">Trà Lộc Tân</label>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-9 col-sm-6" style="margin-top: 40px;" id="mainList">
                <div class="d-flex justify-content-end" style="margin-bottom: 40px;" id="sortProduct">
                    <div class="sort-product" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <div class="defaut-sort">
                            <div>@ViewBag.Sort<i class="fa-solid fa-angle-down icon-down"></i></div>

                        </div>
                        <ul class="other-sort collapse" class="" id="collapseExample">
                            <!-- <li><a href="@Url.Action("Product", "Home")">Thứ tự mặc định</a></li>
                            <li><a href="@Url.Action("Product", "Home", new { sortOrder = "asc", typeSort = "price" })">Giá thấp đến cao</a></li>
                            <li><a href="@Url.Action("Product", "Home", new { sortOrder = "desc", typeSort = "price" })">Giá cao đến thấp</a></li> -->
                            <li><a href="">Xếp theo đánh giá</a></li>
                            <li><a href="">Xếp theo phổ biến</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row" id="lstProduct">
                    <!-- @{Random rnd = new Random();}
                    @foreach (var row in Model)
                    {
                        int star = (rnd.Next(100));
                        <div class="col-md-4 col-sm-6">
                            <div class="product-item">
                                <div class="product-rate d-flex">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <p>5</p>
                                </div>
                                <div class="new-product">
                                    <p>NEW</p>
                                </div>
                                <img src="~/Public/Admin/Pictures/products/@row.Image" alt="" class="w-100" style="height: 200px">
                                <h5><a href="@Url.Action("ProductDetail", "Home", new {@row.Slug})">@row.Name</a></h5>
                                <div class="d-flex justify-content-center">
                                    <p class="product-price">@String.Format("{0:0,0}", row.Price)<small> VND</small><span>/100gr</span></p>
                                </div>
                            </div>
                        </div>
                    } -->
                </div>

                <div class="pagination">
                    <!-- @Html.PagedListPager(Model, page => Url.Action("Product", new { page = page, sortOrder = @ViewBag.sortOrder, typeSort = @ViewBag.typeSort })) -->
                </div>
                <div id="totalPage"></div>
            </div>
        </div>
    </div>
</section>