<section class="bg-detail">
    <div class="container">
        <!-- Nav Product -->
        <div class="nav">
            <ul>
                <li>
                    <a [routerLink]="['/']">Trang chủ</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a [routerLink]="['/product']">Sản phẩm</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li><a href="/product-detail/{{slug}}">{{name}}</a></li>
            </ul>
        </div>

        <!-- Product detail -->
        <div class="product-detail">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <div class="slider-detail">
                        <div class="row">
                            <div class="col-md-3">
                                <ngx-slick-carousel class="carousel slider-nav" 
                                    #slickModal="slick-carousel" 
                                    [config]="slideNavConfig">
                                    <div ngxSlickItem *ngFor="let img of listImg;">
                                        <img src="{{'../assets/product-images/' + img.name}}" alt="" class="w-75" height="80px">
                                    </div>
                                </ngx-slick-carousel>
                            </div>
                            <div class="col-md-9">
                                <ngx-slick-carousel class="carousel slider-for" 
                                    #slickModal="slick-carousel" 
                                    [config]="slideConfigProductImage">
                                    

                                    <div ngxSlickItem *ngFor="let img of listImg;" >
                                        <img src="{{'../assets/product-images/' +img.name }}" alt="" class="w-100" height="380px">
                                    </div>
                                </ngx-slick-carousel>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="detail-content">
                        <h2 style="font-size: 20px;">{{name}}</h2>
                        <div class="rating d-flex">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <p>{{star}} đánh giá</p>
                        </div>
                        <div class="d-flex justify-content-start">
                            <p class="detail-price">{{price | number }}<small>VND</small><span>/100gr</span></p>
                        </div>
                        <p class="safety-rating">
                            Sản phẩm đạt chuẩn vệ sinh an toàn thực phẩm
                        </p>
                        <div class="detail-description">
                            <div style="font-size: 16px;" innerHTML="{{description}}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Instructions -->
        <div class="instruction">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <h2 class="h2-detail">Hướng dẫn pha <br /> {{name}}</h2>
                    <div class="instruction-item d-flex">
                        <i class="fa-solid fa-droplet fa-flip-horizontal"></i>
                        <p>
                            Đổ vào ấm 150 - 200ml, <br>
                            nước sôi nhiệt độ 85°C
                        </p>
                    </div>
                    <div class="instruction-item d-flex">
                        <i class="fa-solid fa-spoon"></i>
                        <p>
                            1 - 2 nắm trà, khoảng 20 - 30 gram
                        </p>
                    </div>
                    <div class="instruction-item d-flex">
                        <i class="fa-regular fa-clock"></i>
                        <p>
                            Để trà 4 - 6 phút
                        </p>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6">
                    <img src="../assets/Pictures/chitietsanpham/phatra.jpg" alt="" class="w-100">
                </div>
            </div>
        </div>

        <!-- Related Product -->
        
        <div class="related-product">
            <h2 class="h2-detail">Sản phẩm liên quan</h2>
            <div class="related-slider">

                <ngx-slick-carousel class="carousel" 
                    #slickModal="slick-carousel" 
                    [config]="slideConfig">
                    

                    <div ngxSlickItem class="product-item" *ngFor="let product of listOtherProduct;">
                        <div class="product-rate d-flex">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
    
                            <p>{{product.star}}</p>
                        </div>
                        <div class="new-product">
                            <p>NEW</p>
                        </div>
                        <img src="{{'../assets/products/' + product.productImg}}" alt="" class="w-100" height="200px">
                        <h5>
                            <a href="/product-detail/{{product.slug}}">
                                {{product.productName}}
                            </a>
                        </h5>
                        <div class="d-flex justify-content-center">
                            <p class="product-price">{{product.productPrice | number }} <small>VND</small><span>/100gr</span></p>
                        </div>
                    </div>
                </ngx-slick-carousel>
                
            </div>
        </div>
    </div>
</section>