<header class="header">
    <div class="container ">
        <div class="d-flex justify-content-between">
            <div class="header-logo">
                <a [routerLink]="['/']"><img src="../assets/Pictures/trang-chu/logophongtra.png" alt=""></a>
            </div>
            <div class="header-nav">
                <ul class="row">
                    <li><a [routerLink]="['/']">TRANG CHỦ</a></li>
                    <li><a [routerLink]="['/about']">GIỚI THIỆU</a></li>
                    <li><a [routerLink]="['/product']">SẢN PHẨM</a></li>
                    <li><a [routerLink]="['/news']">TIN TỨC</a></li>
                    <li><a [routerLink]="['/contact']">LIÊN HỆ</a></li>
                </ul>
            </div>
        </div>
    </div>
  </header>