<div class="main-content">
  <header>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" aria-expanded="true">
          <img
            src=""
            class="img-circle elevation-1"
            alt="Image"
            width="35"
            height="35px"
            style="margin-top: -5px; border-radius: 50%"
          />
          <span>@Session["Admin_Name"]</span>
        </a>

        <div
          class="dropdown-menu dropdown-menu-lg dropdown-menu-right"
          style="min-width: 200px; font-size: 15px; left: inherit; right: 0px"
        >
          <span
            class="dropdown-item dropdown-header font-weight-bold text-drank d-block"
            >Quản trị viên</span
          >
          <div class="dropdown-divider"></div>

          <div class="dropdown-divider"></div>
          <a
            routerLink="/Admin/Logout"
            class="dropdown-item dropdown-footer text-left"
          >
            <i class="fas fa-sign-out-alt mr-2"></i>Đăng xuất
          </a>
        </div>
      </li>
    </ul>
  </header>

  <main>
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h5 class="h5-title" style="margin: 8px 20px">Danh sach bài viết</h5>
        <div class="button" style="margin: 8px 20px">
          <a
            [routerLink]="['/admin/new/add']"
            class="btn btn-primary btn-sm mr-2"
            style="padding: 4px 8px"
          >
            <i class="fa-sharp fa-solid fa-plus" style="font-size: 12px"></i>
            Thêm mới
          </a>
          <a
            [routerLink]="['/admin/new/trash']"
            class="btn btn-danger btn-sm"
            style="padding: 4px 8px"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              style="fill: #fff"
              height="1em"
              viewBox="0 0 448 512"
            >
              <path
                d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
              />
            </svg>
            Thùng rác
          </a>
        </div>
      </div>
      <div class="card-body flex-column" style="width: 100%">
        <table
          class="table table-bordered table-striped mt-3"
          id="datatableexample"
        >
          <thead>
            <tr>
              <th>Ảnh</th>
              <th>Tên bài viết</th>
              <th>Hoạt động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let n of listNews">
              <td><img height="80" width="80" src="../../../../assets/news/{{n.image}}"></td>
              <td>{{ n.name }}</td>
              <td>
                <label class="switch">
                  <input
                    class="changeStatus"
                    (click)="changeActive(n.id)"
                    type="checkbox"
                    *ngIf="n.isActive == 1; else falseCheck"
                    checked
                  />
                  <ng-template #falseCheck>
                    <input
                      class="changeStatus"
                      (click)="changeActive(n.id)"
                      type="checkbox"
                    />
                  </ng-template>
                  <span class="slider round"></span>
                </label>
                <button
                  (click)="delTrashNew(n.id)"
                  class="btn btn-danger"
                  style="color: #fff; margin: 0 4px; padding: 4px 8px"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    style="fill: #fff"
                    height="1em"
                    viewBox="0 0 448 512"
                  >
                    <path
                      d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                    />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
