<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <ul>
                    <li><a href="./index.html"><img src="../assets/Pictures/trang-chu/logophongtra.png" alt=""></a></li>
                    <li><a href="#">7999-999-999</a></li>
                    <li><a href="#">trasenbachdiep@gmail.com</a></li>
                    <li><a href="#">số 12, Quảng An, Hồ Tây, Hà Nội</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <ul>
                    <li><h4>VỀ CHÚNG TÔI</h4></li>
                    <li><a href="./introduction.html">Giới thiệu</a></li>
                    <li><a href="./product.html">Sản phẩm</a></li>
                    <li><a href="./news.html">Tin tức</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <ul>
                    <li><h4>LIÊN HỆ</h4></li>
                    <li>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                        Copyright © 2010-2020 <br/>
                        Tra Sen Bach Diep. All right reserved.
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </footer>